@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background-color: #fff;
}

header {
    background: url('images/topLayout.png');
    /*width: 1600px;*/
    height: 865px;
    background-size: auto;
    background-repeat: no-repeat;
}

.container {
    width: 80%;
    margin: 90px auto;
}

button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 170px;
    height: 57px;
    background: none;
}

button:hover {
    background-color: #fcae61;
    color: white;
}

.text {
    color: #616368;
    margin-bottom: 20px;
}

/* Header */
nav, .logo-app {
    margin-top: -30px;
}
.nav_menu {
    display: flex;
    justify-content: space-between;
}

.logo-app {
    padding: 12px 15px;
    width: 117px;
    height: 32px;
    color: #fcae61;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 44px;
}

.logo-app span {
    color: #242f51;
}

nav {
    display: flex;
}

.nav_list {
    padding: 12px 15px;
}

.nav_list a {
    color: #242f51;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.05em;
    line-height: 44px;
}

nav div:last-of-type {
    margin-right: 30px;
}

.basic_btn {
    color: white;
    border-radius: 30px;
    background-color: #2500f9;
    font-weight: 700;
}

.watch_demo_btn {
    color: #2500f9;
    padding-left: 0;
    padding-right: 0;
    border-radius: 30px;

}

.main_text {
    margin-top: 260px;
    margin-bottom: 275px;
    width: 500px;
}

.main_buttons {
    display: flex;
}

.checkmark_container {
    display: block;
    position: relative;
}

.heading_text {
    color: #242f51;
    font-size: 18px;
    letter-spacing: -0.05em;
    background-color: #e2eaed;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-80%, -50%);
}

.main_text h1 {
    color: #242f51;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.01em;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Companies section */

.companies_logo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 40px;
}

.companies_logo img {
    width: 120px;
}

.companies .container p {
    color: #242f51;
    text-align: center;
}

/* Features section */

.features_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 80px;
}

.features_heading {
    margin-bottom: 100px;
}

.features_heading > h3 {
    color: #242f51;
    font-size: 36px;
    margin-bottom: 30px;
}

.features_heading > p {
    margin-bottom: 60px;
}

.feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.feature_text {
    width: 65%;
}

.feature_text p {
    margin-top: 10px;
}

.feature_text h4 {
    font-size: 20px;
}

.pink {
    color: #f55767;
}

.purple {
    color: #2563ff;
}

.green {
    color: #40975f;
}

.feature_main_text {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.feature_main_text h4 {
    font-size: 40px;
    color: #242f51;
    padding-right: 40px;
}

.feature_main_text p {
    display: flex;
    align-items: center;
    padding-left: 40px;
    border-left: 1px solid #e5e6e5;

}

.features_info {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.features_info .feature_text {
    margin-top: 25px;
    width: 70%;
}

.main_features{
    margin: 0 auto;
    text-align: center;
    padding-bottom: 80px;
}

.features_blocks_main {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature_block_item {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #242f51;
    gap: 20px;
    margin-right: 40px;
    margin-bottom: 40px;
}

 .feature_block_item > img {
    display: inline-block;
    margin: 0 auto;
}

/* Ultimate features section */

.ultimate_features {
    background: url('images/sidePhone2.png') no-repeat right;
}

.ultimate_features_items {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.ultimate_item {
    margin-top: 20px;
    width: 50%;
    margin-bottom: 40px;
}

.ultimate_item > h3{
    margin-top: 20px;
    margin-bottom: 10px;
    color: #242f51;
}














